* {
	font-size:100%;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 0.85em;
	background: #303030 url('images/canvas-bg.jpg') no-repeat center top;
}

#sort {
	position: relative;
	top: -4px;
}
#sort-order, #sort-chaos {
	border: 0;
	width: 50px;
	height: 50px;
	color: transparent;
	margin: 0;
	padding: 0;
	background: transparent url('images/sort-button-sprite.png') no-repeat left top;
	cursor: pointer;
}
#sort-order {
	background-position: left top;
}
#sort-chaos {
	background-position: right -50px;
}
#sort-order.selected {
	background-position: left -50px;
}
#sort-chaos.selected {
	background-position: right top;
}
#sort-order.disabled, #sort-chaos.disabled, #sort-order.disabledunsel, #sort-chaos.disabledunsel {
	cursor: auto;
}
#sort-order.disabled {
	background-position: left bottom;
}
#sort-chaos.disabled {
	background-position: right -100px;
}
#sort-order.disabledunsel {
	background-position: left -100px;
}
#sort-chaos.disabledunsel {
	background-position: right bottom;
}
#search-icon {
	float: left;
	height: 22px;
	width: 25px;
	background: transparent url('images/search-icon.png') 0 0 no-repeat;
}
#search-field {
	float: left;
	height: 20px;
	width: 100px;
	background: transparent url('images/search-bg.png') 0 0 repeat;
	position: relative;
	margin: 0px;
	border: 0;
	outline: none;
}
#search-cancel {
	float: left;
	height: 22px;
	width: 22px;
	background: transparent url('images/search-end.png') 0 0 no-repeat;
	cursor: auto;
}
#header {
	background: transparent url('images/header-bg.png') 0 0 repeat;
	position: absolute;
	top: 0px;
	right: 0;
	padding: 8px;
	width:100%;
	height: 22px;
	color: white;
}
#intro, #footer {
	font-family: 'Segoe Print', 'Bradley Hand ITC TT', sans-serif;
	position: absolute;
}
#intro {
	margin: 8px;
	top: -1px;
	left: 18px;
}
#search {
	margin: 8px;
	position: absolute;
	top: 0px;
	right: 0;
}
#infoPolaroid {
	font-size: 0.9em;
	line-height: 1.5;
	position: absolute;
	top: 0;
	left: 0;
	background: transparent url('images/info-bg.png') 0 0 repeat;
	color: white;
	width: 250px;
	height: 360px;
	padding: 20px 20px 20px 140px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: none;
}
#infoPolaroid .title {
	display: block;
	float: left;
	width: 90px;
	font-weight: bold;
}
#zoomPolaroid {
	display: none;
	position: absolute;
}
#footer {
	font-size: 0.8em;
	color: white;
	bottom: 6px;
	right: 10px;
}
